{% extends './base.html' %}
{% load static %}
{% block title %}AboutUs{% endblock title %} 
{% block auth %}
{% if user.is_authenticated %}
<div class="col-xl-4 col-lg-4 d-none d-lg-block">
  <div class="social_wrap d-flex align-items-center justify-content-end">
    <h4>Hello , {{request.user}}</h4>
    &nbsp;&nbsp;
    <h4><a href="{% url 'logout' %}">Logout</a></h4>
  </div>
</div>
{% else %}
<div class="col-xl-4 col-lg-4 d-none d-lg-block">

<div class="social_wrap d-flex align-items-center justify-content-end" >
  <h4 style="margin-right: 10px;"><a href="{% url 'login' %}">Login</a></h4>
  <h4><a href="{% url 'register' %}">Register</a></h4>
</div>

</div>
{% endif %}
{% endblock auth %}


{% block content %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>About Us</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
    
    <div class="about_story container">
       <h1>Our Team</h1>
    <div class="team__div">


       <div class="shadow m-3 p-2 team__member">
        <div style="border-radius: 50%; margin:auto">
          <img src="{% static 'img/testmonial/profile.jpg' %}" style="border-radius: 50%;" alt="" width="200px" height="200px">
        </div>
        <div class="m-3 p-2" style="flex: 1;">
          <p style="margin: auto;">
            <li>
              Name: Navneet Kumar Singh
            </li>
            <li>
              Email: navneetsingh969@gmail.com
            </li>
            <li>
              Role: Python Full Stack Developer
            </li>
          </p>
          <div style="text-align: center;" class="mt-3">
  <p>
    Hey, I am Web Developer aged 20, Currently Completing my engineering In computer science, Have done some M.E.A.N. stack and Full stack projects and I am Looking for new opportunities for learning and improving my skills by building Meaning full projects. 
  </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2">
                 
          <ul class="list-unstyled list-inline social text-center">
             
              <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100004128576612" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/navneet-singh-80027918a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/navneetkrsinghhh/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/Navneet7716" target="_blank"><i class="fa fa-github"></i></a></li>
              <li class="list-inline-item"><a href="mailto:navneetsingh969@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
      </div>
      </div>
       <div class="shadow m-3 p-2 team__member">
        <div style="border-radius: 50%; margin:auto">
          <img src="{% static 'img/testmonial/profile3.jpg' %}" style="border-radius: 50%;" alt="" width="200px" height="200px">
        </div>
        <div class="m-3 p-2" style="flex: 1;">
          <p style="margin: auto;">
            <li>
              Name: Aditya Khandelwal
            </li>
            <li>
              Email: adityakhandelwal0033@gmail.com
            </li>
            <li>
              Role: Python Full Stack Developer
            </li>
          </p>
          <div style="text-align: center;" class="mt-3">
  <p>
    Hey, I am Web Developer aged 19, Currently Completing my engineering In computer science, Have done some M.E.A.N. stack and Full stack projects and I am Looking for new opportunities for learning and improving my skills by building Meaning full projects. 
  </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2">
                 
          <ul class="list-unstyled list-inline social text-center">
             
              <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100004128576612" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/navneet-singh-80027918a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/navneetkrsinghhh/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/Navneet7716" target="_blank"><i class="fa fa-github"></i></a></li>
              <li class="list-inline-item"><a href="mailto:navneetsingh969@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
      </div>
      </div>
       <div class="shadow m-3 p-2 team__member">
        <div style="border-radius: 50%; margin:auto">
          <img src="{% static 'img/testmonial/profile2.png' %}" style="border-radius: 50%;" alt="" width="200px" height="200px">
        </div>
        <div class="m-3 p-2" style="flex: 1;">
          <p style="margin: auto;">
            <li>
              Name: Velaga Valentina
            </li>
            <li>
              Email: valentinavelaga@gmail.com
            </li>
            <li>
              Role: Data Scientist
            </li>
          </p>
          <div style="text-align: center;" class="mt-3">
  <p>
    Hey, I am Web Developer aged 19, Currently Completing my engineering In computer science, Have done some M.E.A.N. stack and Full stack projects and I am Looking for new opportunities for learning and improving my skills by building Meaning full projects. 
  </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2">
                 
          <ul class="list-unstyled list-inline social text-center">
             
              <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100004128576612" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/navneet-singh-80027918a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/navneetkrsinghhh/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/Navneet7716" target="_blank"><i class="fa fa-github"></i></a></li>
              <li class="list-inline-item"><a href="mailto:navneetsingh969@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
      </div>
      </div>
  
</div>
    </div>



    <!-- testimonial_area  -->
 
    <!-- /testimonial_area  -->



{% endblock %}