{% extends './base.html' %}
{% load static %}
{% block title %}Destination Details{% endblock title %} 



{% block auth %}
  {% if user.is_authenticated %}
<div class="col-xl-4 col-lg-4 d-none d-lg-block">
  <div class="social_wrap d-flex align-items-center justify-content-end">
    <h4>Hello , {{request.user}}</h4>
    &nbsp;&nbsp;
    <h4><a href="{% url 'logout' %}">Logout</a></h4>
  </div>
</div>
{% else %}
<div class="col-xl-4 col-lg-4 d-none d-lg-block">

<div class="social_wrap d-flex align-items-center justify-content-end" >
  <h4 style="margin-right: 10px;"><a href="{% url 'login' %}">Login</a></h4>
  <h4><a href="{% url 'register' %}">Register</a></h4>
</div>

</div>
{% endif %}
{% endblock auth %}

{% block content %}


<div class="containerimage" style=" position: relative;
text-align: center;
color: white;">
  <img src="{{ destination_info_detail.destination_image.url }}" alt="Snow" style="width:100%; height: 70vh;">
  <div class="destination_text text-center centeredtextforimage" style=" position: absolute;
  top: 50%;
  left: 50%;
  font-family: Nothing You Could Do, cursive;
  font-size: 80px;
  line-height: 90px;
  color: #fff;
  margin-bottom: 0;
  transform: translate(-50%, -50%);">{{destination_info_detail.destination_name}}</div>
</div>

    <div class="destination_details_info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-9">


                    <div class="destination_info">
                        <h3>Description</h3>
                        <p>{{destination_info_detail.destination_description}}</p>
                        <div class="single_destination">
                            <h4>Day-01</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                        </div>
                        <div class="single_destination">
                            <h4>Day-02</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                        </div>
                        <div class="single_destination">
                            <h4>Day-03</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                          <div class="more_place_btn text-center">
                            <a class="boxed-btn4" href="{% url 'payment' destination_info_detail.id %}?id={{destination_info_detail.id}}&class={{class}}&book_type={{book_type}}">Book Now</a>
                          </div>
                        </div>
                      </div>


                    <div class="bordered_1px"></div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- newletter_area_start  -->
    <div class="newletter_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-10">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="newsletter_text">
                                <h4>Subscribe Our Newsletter</h4>
                                <p>Subscribe newsletter to get offers and about
                                    new places to discover.</p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mail_form">
                                <div class="row no-gutters">
                                    <div class="col-lg-9 col-md-8">
                                        <div class="newsletter_field">
                                            <input type="email" placeholder="Your mail" >
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4">
                                        <div class="newsletter_btn">
                                            <button class="boxed-btn4 " type="submit" >Subscribe</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newletter_area_end  -->

    <div class="popular_places_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>More Places</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for destination in destinations.all %}
                <div class="col-lg-4 col-md-6">
                  <div class="single_place">
                    <div class="thumb">
                      <img src="{{ destination.destination_image.url }}" alt="" />
                      <a href="#" class="prise">${{destination.package_price}}</a>
                    </div>
                    <div class="place_info">
                      <a href="{% url 'destination_details' destination.id %}"
                        ><h3>{{destination.destination_name}}</h3></a
                      >
                      <p>{{destination.destination_description}}</p>
                      <div class="rating_days d-flex justify-content-between">
                        <span class="d-flex justify-content-center align-items-center">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <a href="#">(20 Review)</a>
                        </span>
                        <div class="days">
                          <i class="fa fa-clock-o"></i>
                          <a href="#">5 Days</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
        </div>
    </div>

{% endblock %}