{% extends './base.html' %}
 {% load static %}
  {% block title %}
  Travelo
  {%endblock title %} 
  {% block auth %}
  {% if user.is_authenticated %}
<div class="col-xl-4 col-lg-4 d-none d-lg-block">
  <div class="social_wrap d-flex align-items-center justify-content-end">
    <h4>Hello , {{request.user}}</h4>
    &nbsp;&nbsp;
    <h4><a href="{% url 'logout' %}">Logout</a></h4>
  </div>
</div>
{% else %}
<div class="col-xl-4 col-lg-4 d-none d-lg-block">

<div class="social_wrap d-flex align-items-center justify-content-end" >
  <h4 style="margin-right: 10px;"><a href="{% url 'login' %}">Login</a></h4>
  <h4><a href="{% url 'register' %}">Register</a></h4>
</div>

</div>
{% endif %}
{% endblock auth %}
 {% block content %} 
 {% if messages %} 
 {% for msg in messages%}
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    &times;
  </button>
  {{msg}}
</div>
{% endfor %}
 {% endif %}
<div class="slider_area">
  <div class="slider_active owl-carousel">
    <div class="single_slider d-flex align-items-center slider_bg_1 overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-md-12">
            <div class="slider_text text-center">
              <h3>Indonesia</h3>
              <p>Pixel perfect design with awesome contents</p>
              <a href="#" class="boxed-btn3">Explore Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single_slider d-flex align-items-center slider_bg_2 overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-md-12">
            <div class="slider_text text-center">
              <h3>Australia</h3>
              <p>Pixel perfect design with awesome contents</p>
              <a href="#" class="boxed-btn3">Explore Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single_slider d-flex align-items-center slider_bg_3 overlay">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-12 col-md-12">
            <div class="slider_text text-center">
              <h3>Switzerland</h3>
              <p>Pixel perfect design with awesome contents</p>
              <a href="#" class="boxed-btn3">Explore Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider_area_end -->

<!-- where_togo_area_start  -->

<div class="where_togo_area">
  <div class="container" >
    <div class="row align-items-center">
      <div class="col-lg-12 mx-auto">
        <div class="form_area" >
          <h3 align="center">Book Your Dream Travelling Package Now!!!</h3>
          <br>
          <br>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="search_wrap">
          {% if user.is_authenticated %}
          <div class="container">
            <div class="row text-center">
              <div class="col-4">
                <a class="boxed-btn4"  href="{% url 'flight' %}">Flights</a>
              </div>
              <div class="col-4">
                <a class="boxed-btn4"  href="{% url 'train' %}">Trains</a>
              </div>
              <div class="col-4">
                <a class="boxed-btn4"  href="{% url 'hotel' %}">Hotels</a>
              </div>
            </div>
          </div>
          {%else%}
          <div class="container">
            <div class="row text-center">
              <div class="col-4">
                <a class="boxed-btn4">Flights</a>
              </div>
              <div class="col-4">
                <a class="boxed-btn4" >Trains</a>
              </div>
              <div class="col-4">
                <a class="boxed-btn4">Hotels</a>
              </div>
            </div>
          </div>
          
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- where_togo_area_end  -->

<!-- popular_destination_area_start  -->

<div class="popular_places_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h3>Popular Places</h3>
          <p>
            Suffered alteration in some form, by injected humour or good day
            randomised booth anim 8-bit hella wolf moon beard words.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      {% for destination in destinations.all %}
      <div class="col-lg-4 col-md-6">
        <div class="single_place">
          <div class="thumb">
            <img src="{{ destination.destination_image.url }}" alt="" />
            <a href="#" class="prise">${{destination.package_price}}</a>
          </div>
          <div class="place_info">
            <a href="{% url 'destination_details' destination.id %}"
              ><h3>{{destination.destination_name}}</h3></a
            >
            <p>{{destination.destination_description}}</p>
            <div class="rating_days d-flex justify-content-between">
              <span class="d-flex justify-content-center align-items-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <a href="#">(20 Review)</a>
              </span>
              <div class="days">
                <i class="fa fa-clock-o"></i>
                <a href="#">5 Days</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="more_place_btn text-center">
          <a class="boxed-btn4" href="#">More Places</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="video_area video_bg overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="video_wrap text-center">
          <h3>Enjoy Video</h3>
          <div class="video_icon">
            <a
              class="popup-video video_play_button"
              href="https://www.youtube.com/watch?v=f59dDEk57i0"
            >
              <i class="fa fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="travel_variation_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single_travel text-center">
          <div class="icon">
            <img src="{% static 'img/svg_icon/1.svg' }" alt="" />
          </div>
          <h3>Comfortable Journey</h3>
          <p>
            A wonderful serenity has taken to the possession of my entire soul.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_travel text-center">
          <div class="icon">
            <img src="{% static 'img/svg_icon/2.svg' }" alt="" />
          </div>
          <h3>Luxuries Hotel</h3>
          <p>
            A wonderful serenity has taken to the possession of my entire soul.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_travel text-center">
          <div class="icon">
            <img src="{% static 'img/svg_icon/3.svg' }" alt="" />
          </div>
          <h3>Travel Guide</h3>
          <p>
            A wonderful serenity has taken to the possession of my entire soul.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- testimonial_area  -->

<!-- /testimonial_area  -->

<div class="recent_trip_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h3>Recent Trips</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single_trip">
          <div class="thumb">
            <img src="{% static 'img/trip/1.png' %}" alt="" />
          </div>
          <div class="info">
            <div class="date">
              <span>Oct 12, 2019</span>
            </div>
            <a href="#">
              <h3>Journeys Are Best Measured In New Friends</h3>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_trip">
          <div class="thumb">
            <img src="{% static 'img/trip/2.png' %}" alt="" />
          </div>
          <div class="info">
            <div class="date">
              <span>Oct 12, 2019</span>
            </div>
            <a href="#">
              <h3>Journeys Are Best Measured In New Friends</h3>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_trip">
          <div class="thumb">
            <img src="{% static 'img/trip/3.png' %}" alt="" />
          </div>
          <div class="info">
            <div class="date">
              <span>Oct 12, 2019</span>
            </div>
            <a href="#">
              <h3>Journeys Are Best Measured In New Friends</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






{% endblock %}